{
  "extends": "airbnb/base",
  "globals": {
    "Logger": true,
    "Settings": true,
    "Emit": true,
    "WindowManager": true,
    "API": true,
    "GPM": true,
    "mochRequire": true,
    "MOCH_ELECTRON": true,
    "sinon": true,
    "expect": true
  },
  "env": {
    "mocha": true
  }
}
